<h2><%= @current_user.username %> Landmarks:<h2>

<ul class="landmarks">
<% all_landmarks.each do |landmark|%>
    <h4><%= link_to landmark.name, landmark_path(landmark)%></h4>
<%end%>
</ul>

<%= button_to "Profile", user_path(current_user), method: :get %>



