<h2><%= @current_user.username %> Landmarks:<h2>


<% @landmarks.each do |landmark|%>
<p><%= link_to landmark.name,  landmarks_path(@review.landmark)%></p>
<%end%>

<%= button_to "Profile", user_path(current_user), method: :get %>



