


<%= form_for @review, url: landmark_reviews_path(@landmark) do |f|%>

    <label> Review: </label><br>
    <%= f.text_area :review %><br> 

    <%= f.submit "Create your Review" %>

<%end%>



<%=button_to "Profile", user_path(current_user), method: :get %>
