// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    color: rgb(42, 154, 182);
    background-color: rgb(185, 228, 149);
}

