

<h1><%= @landmark.name %> Reviews </h1>

<% @reviews.each do |review|%>
  <h2><%= link_to "Reviews: #{review.landmark.name}",  landmark_review_path(review.landmark, review)%><h2>

<%end%>


<%= button_to "Profile", user_path(current_user), method: :get %>


