

<h2>Landmark Name: <%= @landmark.name%></h2>

<h2> Review: <%= @review.review%></h2>

<%= button_to "Destroy Review", landmark_review_path(@landmark), method: :delete %>

<%= button_to "Profile", user_path(current_user), method: :get %>

