

<h2>Landmark Name: <%= @landmark.name%></h2>

<h2> Review: <%= @review.review%></h2>



<%= button_to "Profile", user_path(current_user), method: :get %>

<% if @review.user == current_user %>
<%= button_to "Edit Review", edit_landmark_review_path(@landmark,@review), method: :get %>
<% end %>
